
body{
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  background:#fcfcfc;
}

h3{
  padding-top:15px;
  padding-bottom:15px;
}

h4{
  padding-top: 10px;
  padding_bottom:5px;
}

header{
  width:100%;
  margin: 0 auto;
  background:#fff;
}

footer{
  width:100%;
  margin: 0 auto;
  background:#414141;
  padding-top: 50px;
  padding-bottom: 50px;
}

#nameDisplay{
  text-decoration: none;
}

.title{
  font-weight:700;
  font-size:28px;
  padding:27px 0 0 15px;
  color: #777;
}

.subTitle{
  font-weight:700;
  font-size:14px;
  padding:0 0 0 15px;
  color: #0083FF;
  text-transform: uppercase;
}


.rowMenu{
  height:100%;
  margin-right:30px;
}

.menuOption{
  padding:5px 0 0 15px;
  margin-left: 30px;
}

.menuOption > span{
  cursor:pointer;
  font-weight:700;
  font-size:14px;
  color: #777;
  text-transform: uppercase;
  -webkit-transition: color 0.2s; /* Safari */
  transition: color 0.2s;
  -webkit-transition-timing-function: ease;
}

.menuOption > span:hover{
  color: #0083FF;
}

.secHeadCenter{
 min-height:80px;
 max-width:1130px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.uselessSecondHeader{
  min-height:80px;
  background:#414141;
}

.instrText{
  color: #fcfcfc;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 17px;
  float:left;
}

.uselessText{
  font-weight: 700;
  float:left;
  font-size:20px;
  text-transform: uppercase;
  width: 510px;
  
  background-color: #DCDCDC;
  margin-left: 80px;
  margin-top: 18px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 22px;
  border-radius: 5px;
  color: #414141;
}

.dataText{
  float:left;
  font-size:20px;
  padding-left: 165px;
  padding-top:27px;
  font-weight: 700;
  color: #777;
}

.main-container{
  max-width:100%;
  padding: 0 0 0 0;
}

.headerCenter, .footerCenter{
 min-height:110px;
 max-width:1130px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}


.leftTab{
  margin-top:10px;
  border-radius:5px;
  background:#DCDCDC;
  width:300px;
  padding-bottom:15px;
}

.leftTabText{
  font-weight:700;
  font-size:14px;
  padding:10px 0 10px 5px;
  color: #777;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: thin solid #777;
}

.textDisplay{
  border: 2px solid #32CD32;
  border-radius:5px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:15px;
  margin-top:10px;
  margin-bottom:10px;
  width:800px;
}

.descBegins{
  padding-top:25px;
}

.descrText{
  display:none;
}

#content{
  padding-top:0px;
}

.firstDevelList{
  margin-left:20px;
}

.develList{
  list-style-type:none;
}

.develList > *{
}

.develList li a{
  text-decoration: none;
  font-size: 16px;
}

.backUp{
  margin-left:325px;
}


.rechMain{
  font-size: 17px;
  font-weight: 700;
}

.collList{
  margin-left: 50px;
  font-weight: 500;
}

.float-my-children{
  max-width:1130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.float-my-header-right {
  padding-top: 60px;
}

/* tell the container's children to float left: */
.float-my-children > * {
    float:left;
    margin-right: 15px;
}

.float-my-header > * {
    float:left;
}

.float-my-header-right > *{
    float:left;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* end clearfix*/


.footerText{
  width: 320px;
  margin-left: 58px;
  color: #777;
  font-weight: 700;
}

.logosArea{
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  width: 690px;
  padding-right: 25px;
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.logoF{
  width: 150px;
  margin-left: 45px;
  margin-right: 10px;
  margin-top: 25px;
}

.logosFArea{
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 18px;
  padding-top: 10px;
  margin-left: 3px;
}

.logoFF{
  width: 133px;
  margin-right: 12px;
}